body {
  min-width: 1200px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #283136;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  border-radius: 5px;
  /* outline: none; */

  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  box-shadow: inset 0 3px #c13135;  
}

.main-header {
  /* min-height: 545px; */
  padding-top: 50px;
  background-color: #eee;
}

.main-navigation {
  display: flex;
}

.main-navigation .logo {
  margin-right: 200px;
  display: flex;
  align-items: center;
}

.main-navigation .logo:hover {
  opacity: 0.8;
}

.main-navigation .logo:active {
  opacity: 0.3;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 440px;
  justify-content: space-between;
  align-items: center;
}

.main-navigation a {
  position: relative;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
} 

.main-navigation a.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -10px;
  width: 74px;
  border: 1px solid #fb565a;
}

.cart {
  position: relative;
  margin-left: auto;  
  display: flex;
  align-items: center;
}

.cart::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  left: -42px;
  background-image: url("../img/cart-icon.svg");    
}

.main-navigation a:hover,
.cart:hover {
  color: #fb565a;
}

.main-navigation a:active,
.cart:active {
  color: rgba(0, 0, 0, .3);

}

.slider-item {
  min-height: 431px;
}

.slider-item h2 {
  margin: 0;
  padding-top: 90px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  color: #283136;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.slider-item-1 {
  background: url(../img/slide1.png) no-repeat right bottom;
}

.advantages {
  min-height: 427px;
  display: flex;
  padding-top: 80px;
}

.advantages-item {
  margin-right: 100px;
}

.advantages-item h3 {
  margin: 30px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages-item p {
  margin: 0;
  width: 260px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  margin-bottom: 40px;
}

.advantages-item .button {
  width: 160px;
  height: 50px;
}

/* .advantages-item-1 .button {
  background-color: #fb565a;
}

.advantages-item-1 .button:hover {
  background-color: #e74246;
}
 */

 .advantages-item-2 .button {
  background-color: #00ca74;
}

.advantages-item-2 .button:hover {
  background-color: #00bc6c;
}

.advantages-item-2 .button:active {
  box-shadow: inset 0 3px #009958;
}

.advantages-item-3 .button {
  background-color: #efc84a;
}

.advantages-item-3 .button:hover {
  background-color: #eab534;
}

.advantages-item-3 .button:active {
  box-shadow: inset 0 3px #ce961f;
}

.divide {  
  width: 1160px;
  margin: 0 auto;
  /* padding: 0 20px; */
  border: 1px solid #eeeeee;
}

.studio {
  display: flex;
  min-height: 525px;
}

.studio .column-left {
  width: 660px;
  margin-right: 140px;
}

.studio h2 {
  margin: 0;
  margin-top: 90px;
  margin-bottom: 45px;
  color: #000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.studio p {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 45px;
}

.studio h3 {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
}

.studio ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.studio li {
  position: relative;
  margin-bottom: 35px;
  padding-left: 35px;
}

.studio li:before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  display: block;
  width: 25px;
  border: 1px solid #fb565a;
}

.studio .column-right {
  width: 360px;
  padding-top: 40px;
}

.studio .column-right h3 {
  margin-top: 40px;
  margin-bottom: 50px;
}

tr.percent td {
  font-size: 45px;
  line-height: 10px;
  width: 120px;
  color: #000;
  padding-bottom: 30px;
}

sup {
  top: -9px
}

.partners {
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.v-divide {
  display: block;
  height: 52px;
  border: 1px solid #000;  
}

.partners a {
  text-decoration: none;
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.contacts {
  margin-top: 80px;
  min-height: 310px;
  background: #efede8 url("../img/map-with-marker.jpg") top center no-repeat;
  padding: 53px 0;
}

.contacts-inner {
  width: 220px;
  height: 210px;
  background-color: #fff;
  padding: 50px;
}

.contacts-inner h2 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.contacts-inner p {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  margin-top: 35px;
  margin-bottom: 40px;
}

.contacts-inner .button {
  width: 220px;
}

.main-footer {
  height: 215px;
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0;
}

.social a:hover {
  background-color: #e74246;
}

.social a:active {
  background-color: #d7373b;
}

.social a:active path {
  fill: #e74246;
}

.slogan h2 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.slogan p {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;  
  color: #444444;
}

